.gfont {
    color: black;
    font-family: "Foco Trial Light";
}

.h-center {
    margin-left: 100px;
    margin-right: 100px;
}

.line-gap>* {
    margin-bottom: 3px;
}

p span {
    font-weight: bold;
}

h1 {
    font-size:xx-large;
    margin-bottom: 12px;
    font-weight: bold;
}

.go-a-head {
    margin-top: 15px;
    font-weight: bold;
}

.fs-16 {
    font-size: 16px;
}

.go-back {
    margin-top: 150px;
    font-size: 16px;
}